{% extends "base.html" %}


{% block title %}Como Avaliar com o PACER{% endblock %}


{% block content %}
<article class="container pt-5">
  <!-- Como fazer a Avaliação PACER -->
  <section class="row article">
    <div class="col">
      <h2 class="">Como Avaliar com o PACER?</h2>
      <p>
        A avaliação PACER é uma ferramenta poderosa para autoavaliação e desenvolvimento contínuo dentro de equipes
        ágeis. Se você ainda não leu nosso conteúdo sobre <a class="" href="/what-is-pacer">O que é o PACER</a>, leia
        agora mesmo e descubra as vantagens dessa ferramenta para a sua equipe. Se você já leu esse conteúdo, continua
        aqui que você aprenderá como aplicar essa ferramenta e analisar a sua postura frente à desafios de cada projeto.
      </p>
      <p>
        Cada membro da equipe avalia a si mesmo em 4 princípios do acrônimo PACER - Proatividade, Autonomia, Colaboração
        e Entrega de Resultados - com pontuações de 0 a 3. Esta escala ajuda a identificar não apenas áreas de força,
        mas também oportunidades significativas para crescimento pessoal e profissional.
      </p>
      <p>
        Com isso em mente, vamos detalhar como você pode efetivamente autoavaliar-se em cada um dos princípios do PACER.
        Vamos aprofundar o entendimento de como essas pontuações podem ser aplicadas, proporcionando uma visão clara de
        como identificar e aprimorar suas habilidades dentro de cada categoria.
      </p>
    </div>
  </section>
  <section class="row article">
    <div class="col">
      <h2>Pontuações</h2>
      <p>
        Aqui vamos analisar como podemos nos pontuar cada comportamento dos princípios do PACER.
      </p>
    </div>
  </section>

  <!-- Notas de Proatividade -->
  <section class="row article">
    <div class="col">
      <h3 class="mb-4 text-center">Proatividade</h3>
      <div class="row gx-5 gy-5">
        <div class="col-12 col-sm-6">
          <p>
            <span class="h5">Nota 0</span> - <span class="text-primary">Passividade Completa</span> - Um indivíduo que
            se enquadra nesta categoria geralmente não toma iniciativas próprias e espera por instruções claras antes de
            agir. Este comportamento pode ser observado em membros da equipe que raramente se oferecem para novas
            tarefas ou desafios, e mostram relutância em contribuir além do mínimo esperado.
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <p>
            <span class="h5">Nota 1</span> - <span class="text-primary">Reação a Demandas</span> - Aqui, o indivíduo
            apenas reage às demandas externas, sem buscar proativamente resolver problemas ou melhorar processos. Eles
            podem cumprir as tarefas atribuídas, mas não se antecipam a necessidades ou oportunidades, limitando sua
            contribuição àquilo que é explicitamente solicitado.
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <p>
            <span class="h5">Nota 2</span> - <span class="text-primary">Iniciativa com Limitações</span> - Neste nível,
            a pessoa começa a mostrar alguma proatividade, como iniciar projetos ou resolver problemas, porém, ainda há
            uma dependência de aprovação ou direção externa para continuar ou expandir suas iniciativas. Eles podem
            começar a agir por conta própria, mas frequentemente precisam de confirmação para seguir adiante.
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <p>
            <span class="h5">Nota 3</span> - <span class="text-primary">Proatividade Completa</span> - Indivíduos que
            alcançam esta pontuação são altamente proativos. Eles não apenas antecipam problemas e oportunidades, mas
            também agem decisivamente para abordá-los. Demonstram liderança e confiança, iniciando projetos, inovando
            processos e incentivando outros a se engajarem. Sua proatividade promove uma dinâmica de equipe mais
            dinâmica e uma cultura de trabalho altamente eficaz.
          </p>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Notas de Autonomia -->
  <section class="row article">
    <div class="col">
      <h3 class="mb-4 text-center">Autonomia</h3>
      <div class="row gx-5 gy-5">
        <div class="col-12 col-sm-6">
          <p>
            <span class="h5">Nota 0</span> - <span class="text-primary">Dependência</span> - Indivíduos com essa
            pontuação dependem fortemente de direção e supervisão para realizar suas tarefas. Eles hesitam em tomar
            decisões sem a aprovação explícita de um supervisor ou gerente, o que pode limitar sua eficácia em ambientes
            dinâmicos ou ágeis onde a rapidez e a flexibilidade são cruciais.
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <p>
            <span class="h5">Nota 1</span> - <span class="text-primary">Autonomia Parcial</span> - Essa nota é atribuída
            aos membros da equipe que começam a tomar algumas decisões por conta própria, mas ainda requerem orientação
            frequente. Eles podem gerenciar tarefas rotineiras independentemente, mas lutam para lidar com situações
            novas ou complexas sem assistência.
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <p>
            <span class="h5">Nota 2</span> - <span class="text-primary">Autonomia Condicional</span> - Aqui, o indivíduo
            demonstra uma boa capacidade de trabalhar de forma independente em muitas situações, mas ainda pode buscar
            confirmação ou aprovação em decisões críticas ou pouco familiares. Eles são capazes de liderar segmentos de
            projetos e resolver problemas, contudo, em circunstâncias de alta pressão ou incerteza, podem recorrer a
            supervisores para garantir que estão no caminho certo.
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <p>
            <span class="h5">Nota 3</span> - <span class="text-primary">Autonomia Total</span> - Os indivíduos que
            alcançam esta pontuação são completamente autônomos. Eles não apenas gerenciam suas próprias áreas de
            trabalho de forma eficaz, como também tomam decisões estratégicas sem necessidade de aprovação externa. Sua
            habilidade de operar independentemente impulsiona a inovação e a eficiência, contribuindo significativamente
            para os objetivos da equipe e da organização.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Notas de Colaboração -->
  <section class="row article">
    <div class="col">
      <h3 class="mb-4 text-center">Colaboração</h3>
      <section class="row article my-4 gy-4 gy-md-0">
        <div class="col-12 col-md-2 icon p-4">
          0
        </div>
        <div class="col ps-md-4 text-justify">
          <p class="ti-0">
            <span class="h5">Nota 0</span> - <span class="text-primary">Isolamento</span> - Membros da equipe que
            recebem esta pontuação tendem a trabalhar isoladamente, raramente compartilhando informações ou buscando a
            contribuição de colegas. Sua falta de interação pode criar barreiras dentro da equipe e limitar o fluxo de
            ideias e soluções inovadoras.
          </p>
        </div>
      </section>
      <section class="row article my-4 gy-4 gy-md-0">
        <div class="col-12 col-md-2 icon p-4">
          1
        </div>
        <div class="col ps-md-4 text-justify">
          <p class="ti-0">
            <span class="h5">Nota 1</span> - <span class="text-primary">Colaboração Ocasional</span> - Estes indivíduos
            colaboram quando necessário, mas não fazem disso uma prática regular. Eles participam de discussões em grupo
            e podem oferecer assistência a colegas, mas geralmente só o fazem quando solicitados ou quando é
            absolutamente necessário para a progressão do projeto.
          </p>
        </div>
      </section>
      <section class="row article my-4 gy-4 gy-md-0">
        <div class="col-12 col-md-2 icon p-4">
          2
        </div>
        <div class="col ps-md-4 text-justify">
          <p class="ti-0">
            <span class="h5">Nota 2</span> - <span class="text-primary">Colaborador Ativo</span> - Neste nível, o membro
            da equipe regularmente busca e oferece ajuda, participa ativamente de reuniões e contribui com ideias. Eles
            valorizam a entrada dos outros e reconhecem que a colaboração efetiva pode levar a resultados melhores e
            mais criativos.
          </p>
        </div>
      </section>
      <section class="row article my-4 gy-4 gy-md-0">
        <div class="col-12 col-md-2 icon p-4">
          3
        </div>
        <div class="col ps-md-4 text-justify">
          <p class="ti-0">
            <span class="h5">Nota 3</span> - <span class="text-primary">Campeão da Colaboração</span> - Indivíduos com
            essa pontuação são líderes na promoção de um ambiente colaborativo. Eles não apenas participam ativamente,
            mas também incentivam outros a colaborar, facilitando a comunicação e a partilha de conhecimento. Sua
            abordagem inclusiva e proativa é fundamental para a coesão e o sucesso da equipe.
          </p>
        </div>
      </section>
    </div>
  </section>

  <!-- Notas de Entrega de Resultados -->
  <section class="row article">
    <div class="col">
      <h3 class="mb-4 text-center">Entrega de Resultados</h3>
      <section class="row article my-4 gy-4 gy-md-0">
        <div class="col ps-md-4 text-justify">
          <p class="ti-0">
            <span class="h5">Nota 0</span> - <span class="text-primary">Inconsistente</span> - Este nível reflete uma
            baixa confiabilidade nas entregas, onde as tarefas frequentemente não são concluídas ou não atendem aos
            padrões necessários. Pode haver problemas constantes de qualidade ou prazos perdidos que afetam
            negativamente o desempenho geral da equipe.
          </p>
        </div>
        <div class="col-12 col-md-2 icon p-4">
          0
        </div>
      </section>
      <section class="row article my-4 gy-4 gy-md-0">
        <div class="col ps-md-4 text-justify">
          <p class="ti-0">
            <span class="h5">Nota 1</span> - <span class="text-primary">Entrega Básica</span> - Aqui, o indivíduo
            consegue entregar tarefas, mas pode não fazê-lo de maneira consistente ou eficaz. As entregas podem atender
            aos requisitos mínimos, mas frequentemente necessitam de revisões ou não contribuem significativamente para
            o avanço do projeto.
          </p>
        </div>
        <div class="col-12 col-md-2 icon p-4">
          1
        </div>
      </section>
      <section class="row article my-4 gy-4 gy-md-0">
        <div class="col ps-md-4 text-justify">
          <p class="ti-0">
            <span class="h5">Nota 2</span> - <span class="text-primary">Entrega Confiável</span> - Membros da equipe que
            alcançam esta pontuação são geralmente confiáveis em suas entregas, cumprindo prazos e mantendo uma boa
            qualidade de trabalho. Eles mostram um bom entendimento das expectativas e raramente necessitam de correções
            significativas em suas entregas.
          </p>
        </div>
        <div class="col-12 col-md-2 icon p-4">
          2
        </div>
      </section>
      <section class="row article my-4 gy-4 gy-md-0">
        <div class="col ps-md-4 text-justify">
          <p class="ti-0">
            <span class="h5">Nota 3</span> - <span class="text-primary">Excelência na Entrega</span> - Os indivíduos
            neste nível excedem as expectativas regularmente. Suas entregas são não apenas pontuais e de alta qualidade,
            mas também frequentemente superam os requisitos e agregam valor adicional ao projeto. Sua performance é um
            modelo de eficiência e eficácia.
          </p>
        </div>
        <div class="col-12 col-md-2 icon p-4">
          3
        </div>
      </section>
    </div>
  </section>
  <section class="row article">
    <div class="col">
    </div>
    <p>
      Agora que você aprendeu a se autoavaliar com o PACER, você deve estar pensando em pegar uma caneta e papel para
      começar sua autoavaliação. Mas calma! Deixe o papel de lado. Nós temos uma ferramenta muito mais prática para você
      e seu time. Acesse agora a <a href="/evaluate">Ferramenta de Avaliação PACER</a> para aplicar essa avaliação em
      tempo real. Este recurso foi projetado para facilitar o processo de avaliação, permitindo que você e sua equipe
      gerenciem e visualizem os resultados de forma eficiente e organizada. Vamos lá?
    </p>
  </section>
  <section class="row article mb-5 pb-4">
    <div class="col-12 text-center">
      <a class="btn btn-outline-primary btn-lg me-5" href="/what-is-pacer">
        <i class="bi bi-chevron-left pe-2"></i>
        O que é PACER?
      </a>
      <a class="btn btn-primary btn-lg" href="/evaluate">
        Quero me avaliar
        <i class="bi bi-chevron-right ps-2"></i>
      </a>
    </div>

  </section>
</article>
{% endblock content %}