{% extends "base.html" %}


{% block title %}O que é o PACER{% endblock %}


{% block content %}
<!-- Cover -->
<div id="what-is-pacer-cards" class="d-flex flex-column flex-md-row align-content-stretch">
  <div class="column-container">
    <div class="column card-action ps-5 justify-content-center bg-primary bg-opacity-75" onclick="">
      <div class="my-4">
        <h1>O que é o PACER?</h1>
      </div>
      <div class="my-3">
        <p class="fs-5">
          Esclarecer propósitos, aumentar a autonomia dos membros da equipe e cultivar
          respeito mútuo.
        </p>
      </div>
      <div class="my-3">
        <a class="btn btn-warning btn-lg" href="#o-que-e" role="button">Descubra aqui</a>
      </div>
    </div>
  </div>
  <div class="column-container">
    <div class="column text-center">
      <p class="card h4 p-4 text-center bg-transparent">Proatividade </p>
      <p class="card h4 p-4 text-center bg-warning text-black">Colaboração </p>
    </div>
  </div>
  <div class="column-container">
    <div class="column text-center">
      <p class="card h4 p-4 text-center bg-secondary">Autonomia</p>
      <p class="card h4 p-4 text-center bg-transparent">Entrega de Resultados</p>
    </div>
  </div>
</div>

<!-- Content -->
<article class="container pt-5">
  <section class="row article">
    <div class="col">
      <h2 id="o-que-e" class="">O que é o PACER?</h2>
      <p>
        <!-- Problema -->
        No ambiente acelerado de desenvolvimento de projetos, especialmente em metodologias ágeis, equipes
        frequentemente
        enfrentam desafios relacionados à comunicação, responsabilidade, e alinhamento de objetivos. Isso pode levar a
        atrasos,
        produtos finais que não atendem às expectativas e uma moral baixa da equipe.
      </p>
      <p>
        <!-- Como o PACER pode ser a solução -->
        Respondendo a esses desafios, o método PACER oferece um framework que fortalece a cultura de colaboração e
        responsabilidade mútua dentro das equipes. Ao enfatizar princípios como propósito claro, responsabilidade
        pessoal e coletiva, e comunicação eficaz, o PACER ajuda a esclarecer propósitos, aumentar a autonomia dos
        membros da equipe e cultivar respeito mútuo. Essas práticas não apenas abordam as raízes comuns dos problemas em
        projetos ágeis, mas também promovem um ambiente de trabalho mais saudável e produtivo.
      </p>
      <p>
        <!-- "História" -->
        O conceito dessa ferramenta foi desenvolvido para complementar as metodologias ágeis, trazendo um enfoque nas
        interações humanas e na qualidade da gestão de equipes. Ele surgiu da necessidade de equipes de desenvolvimento
        terem não apenas diretrizes técnicas, mas também suporte comportamental para maximizar sua eficiência e
        produtividade.
      </p>
    </div>
  </section>
  <hr class="my-5">
  <section class="row article">
    <div class="col">
      <h2>Os princípios do PACER</h2>
      <!-- O que é o PACER -->
      <p>
        Embalado pelo suporte à dinâmica de equipe e eficiência no trabalho, o PACER se destaca como um acrônimo que
        encapsula quatro princípios vitais: Proatividade, Autonomia, Colaboração, e Entrega de Resultados. Estes
        pilares
        fundamentais guiam as equipes para uma colaboração mais efetiva e um ambiente de trabalho mais saudável.
      </p>
    </div>
  </section>
  <section class="row article my-4 gy-4 gy-md-0">
    <div class="col-12 col-md-4 icon p-4 bg-secondary">
      <i class="bi bi-person-arms-up"></i>
    </div>
    <div class="col ps-md-4 text-justify">
      <h3> Proatividade </h3>
      <p class="ti-0">
        <!-- Proatividade -->
        Começamos com a <strong>Proatividade</strong>, que vai além da simples reação às circunstâncias. No PACER,
        avaliamos a
        capacidade de antecipar desafios e agir de forma decisiva. Um membro proativo da equipe não apenas segue o
        fluxo, mas também impulsiona a equipe adiante, identificando e resolvendo problemas potenciais antes que
        eles
        cresçam.
      </p>
    </div>
  </section>
  <section class="row article my-4 gy-4 gy-md-0">
    <div class="col pe-4 text-justify">
      <h3> Autonomia </h3>
      <p class="ti-0">
        <!-- Autonomia -->
        Essa proatividade se enlaça perfeitamente com a <strong>Autonomia</strong>. Em um ambiente onde cada um
        é capaz de gerir suas próprias tarefas com mínima supervisão, a eficiência é maximizada. A autonomia no
        trabalho incentiva os membros da equipe a assumirem responsabilidade plena por suas entregas,
        permitindo-lhes experimentar e adaptar-se, o que é crucial em um contexto ágil.
      </p>
    </div>
    <div class="col-12 col-md-4 icon p-4 order-first order-md-last border border-light bg-transparent">
      <i class="bi bi-magic"></i>
    </div>
  </section>
  <section class="row article my-4 gy-4 gy-md-0">
    <div class="col-12 col-md-4 icon py-4 border border-light bg-transparent">
      <i class="bi bi-person-walking"></i>
      <i class="bi bi-person-raised-hand"></i>
    </div>
    <div class="col ps-md-4 text-justify">
      <h3> Colaboração </h3>
      <p class="ti-0">
        <!-- Colaboração -->
        Avançando para a <strong>Colaboração</strong>, observamos como a autonomia fortalece as sinergias entre os
        membros da equipe. Quando todos estão engajados e contribuem ativamente, a colaboração naturalmente floresce.
        Aqui, não apenas compartilhamos tarefas, mas também ideias e soluções, criando um ambiente onde a comunicação e
        o apoio mútuo são a norma, e não a exceção.
      </p>
    </div>
  </section>
  <section class="row article my-4 gy-4 gy-md-0">
    <div class="col pe-4 text-justify">
      <h3> Entrega de Resultados </h3>
      <p class="ti-0">
        <!-- Entrga de Resultados -->
        Por fim, esses esforços conjuntos são canalizados para a <strong>Entrega de Resultados</strong>. Este
        último princípio foca em alcançar resultados que não apenas cumpram as expectativas, mas as superem. Com
        entregas completas, sem erros e bem documentadas, garantimos que cada projeto não apenas progrida, mas
        também alcance a excelência, refletindo o comprometimento e a capacidade da equipe.
      </p>
    </div>
    <div class="col-12 col-md-4 icon py-4 order-first order-md-last flex-column bg-primary">
      <i class="bi bi-menu-up"></i>
      <i class="bi bi-pass"></i>
    </div>
  </section>
  <section class="row article">
    <div class="col">
      <p>
        Cada passo do PACER é desenhado para fortalecer o outro, garantindo que, ao cultivar cada princípio,
        fortalecemos a equipe como um todo, promovendo um ambiente de trabalho dinâmico, responsivo e profundamente
        colaborativo.
      </p>
    </div>
  </section>
  <hr class="my-5">
  <section class="row article">
    <div class="col">
      <h2>Porque usar o PACER com a sua equipe</h2>
      <p>
        Integrar o PACER nas práticas ágeis reforça conceitos essenciais como autogerenciamento, trabalho em equipe,
        comprometimento e autoconhecimento. Os pilares do PACER — Proatividade, Autonomia, Colaboração e Entrega de
        Resultados — alinham-se perfeitamente com os valores ágeis, criando um framework robusto que mantém todos os
        membros da equipe engajados com os princípios centrais da agilidade. Esta harmonização não apenas fortalece a
        estrutura organizacional, mas também promove um ambiente de trabalho mais positivo e produtivo, crucial para a
        inovação contínua e o sucesso dos projetos.
      </p>
    </div>
  </section>
  <section class="row article">
    <div class="col">
      <!-- Botões -->
      <div class="row gy-4 text-center">
        <div class="col-12 col-lg-4">
          <button class="btn btn-outline-primary btn-lg w-100" type="button" data-bs-toggle="collapse"
            data-bs-target="#scrum" aria-expanded="true" aria-controls="scrum">
            Scrum
          </button>
        </div>
        <div class="col-12 col-lg-4">
          <button class="btn btn-outline-primary btn-lg w-100" type="button" data-bs-toggle="collapse"
            data-bs-target="#design-thinking" aria-expanded="false" aria-controls="design-thinking">
            Design Thinking
          </button>
        </div>
        <div class="col-12 col-lg-4">
          <button class="btn btn-outline-primary btn-lg w-100" type="button" data-bs-toggle="collapse"
            data-bs-target="#xp" aria-expanded="false" aria-controls="xp">Extreme Programming</button>
        </div>
      </div>
      <!-- Cards -->
      <div class="row mt-4 pb-4 methodologies-with-pacer-card" id="pacer-cards">
        <div class="col-12 col-lg-10 offset-md-1">
          <div class="collapse show" data-bs-parent="#pacer-cards" id="scrum">
            <p class="w-100">
              <!-- PACER com SCRUM -->
              Essa ferramenta pode ser integrado efetivamente à
              <a class="" href="https://www.scrum.org/" target="blank" rel="external">metodologia ágil SCRUM</a>,
              especialmente nas reuniões de retrospectivas e planejamentos de sprint. Durante as retrospectivas, a
              equipe consegue refletir sobre como estão abordando cada um dos quatro princípios e quais características
              podem ser melhoradas. No planejamento de sprint, ele serve para reforçar o propósito e a clareza das
              tarefas que serão realizadas, assegurando que todos estão comprometidos e alinhados com os objetivos do
              sprint.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-10 offset-1">
          <div class="collapse" data-bs-parent="#pacer-cards" id="design-thinking">
            <p>
              <!-- Pacer com Design Thinking -->
              Ao integrar o PACER ao <a href="https://designthinking.ideo.com/" target="blank" rel="external">
                Design Thinking</a>,
              potencializamos cada fase do processo criativo com princípios eficazes: Proatividade na fase de Empatia
              aguça a percepção das necessidades do usuário; Autonomia na Ideação encoraja a geração de soluções
              inovadoras; Colaboração durante a Prototipagem garante o enriquecimento mútuo das ideias através do
              trabalho em equipe; e Entrega de Resultados na fase de Teste foca em validar as soluções contra as
              expectativas reais dos usuários. Cada princípio do PACER é crucial para assegurar que as inovações não só
              atendam às necessidades criativas mas também sejam pragmaticamente viáveis.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-10 offset-1">
          <div class="collapse" data-bs-parent="#pacer-cards" id="xp">
            <p>
              <!-- PACER com Extreme Programming -->
              Integrar o PACER ao
              <a href="https://en.wikipedia.org/wiki/Extreme_programming" target="blank" rel="external">Extreme
                Programming (XP)</a>
              fortalece as práticas de desenvolvimento ágil, especialmente na qualidade e adaptabilidade do
              desenvolvimento. Proatividade no PACER incentiva a antecipação e adaptação a mudanças rápidas de
              requisitos, essenciais no XP. Autonomia promove decisões eficientes na programação em pares e no
              desenvolvimento orientado a testes, essencial para a integração contínua. Colaboração e Entrega de
              Resultados melhoram a qualidade do software através de feedback constante e lançamentos frequentes,
              alinhando perfeitamente com os objetivos do XP de maximizar o valor para o usuário final.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <i class="bi bi-brightness-alt-high-fill"></i>
            <i class="bi bi-gear"></i>
            <i class="bi bi-brightness-high-fill"></i>
            <i class="bi bi-map"></i>
            <i class="bi bi-magnet"></i>
            <i class="bi bi-menu-up"></i>
            <i class="bi bi-mortarborad-fill"></i>
            <i class="bi bi-nut"></i>
            <i class="bi bi-noise-reduction"></i>
            <i class="bi bi-node-plus-fill"></i>
            <i class="bi bi-pallet"></i>
            <i class="bi bi-pass"></i>
            <i class="bi bi-path-check"></i>
            <i class="bi bi-brightness-high"></i>
            <i class="bi bi-people-fill"></i>
            <i class="bi bi-person-fill-check"></i>
            <i class="bi bi-person-fill-gear"></i>
            <i class="bi bi-person-hearts"></i>
            <i class="bi bi-person-lines-fill"></i> -->
    </div>
  </section>
  <hr class="my-5">
  <section class="row article gy-4 mb-5">
    <div class="col">
      <h2>E agora?</h2>
      <p>
        <!-- Chamada para Como fazer a Avaliação PACER -->
        Agora que você conhece o PACER e viu como ele pode ser integrado em metodologias ágeis como
        <a class="" href="https://www.scrum.org/" target="blank" rel="external">SCRUM</a>,
        <a href="https://en.wikipedia.org/wiki/Extreme_programming" target="blank" rel="external">
          Extreme Programming (XP)</a> e
        <a href="https://designthinking.ideo.com/" target="blank" rel="external">Design Thinking</a>,
        que tal aprofundar seus conhecimentos sobre como aplicar essa avaliação na prática? Descubra como realizar a
        avaliação PACER e comece a transformar o desempenho da sua equipe. Aprenda a identificar proativamente áreas de
        melhoria, fomentar maior autonomia, colaboração, e garantir entregas de alto impacto. Para mais detalhes sobre
        como aplicar a avaliação PACER e ver esses princípios em ação. visite
        <a href="/how-to-evaluate-using-pacer">Como Fazer a Avaliação PACER</a>.
      </p>
    </div>
    <div class="col-12 text-center">
      <a class="btn btn-primary btn-lg" href="/how-to-evaluate-using-pacer">
        Como Avaliar com o PACER
        <i class="bi bi-chevron-right ps-2"></i>
      </a>
    </div>
  </section>
</article>
{% endblock content %}